# Jypyter Notebooks and Python Refresh Homework 3
We are going to do the Python Refresh Homework in a juypyter Notebook. In this homework we will review the basic principles of python programming. You will work through a few questions and build some scripts. You will need the Bloom et al Dataset found in this repository. For each question add a cell to put your answer in either as a text cell or a code cell following the question.

### Markdown
Here is a [markdown refresh](https://programminghistorian.org/en/lessons/getting-started-with-markdown)

### General concepts to refresh and lessons to review if you need them:

Here is a nice [Python_Refresh](https://pythonforbiologists.com/introduction) that goes over the majority of the basic python commands.

Remember these Primers from Last Semester

[Python_Primer1](https://github.com/tparchman/BIOL792_course_site/blob/master/week6_pythonI/python_1_primer.md) 

[Lists_for_loops](https://github.com/tparchman/BIOL792_course_site/blob/master/week7_pythonII/python_2_primer.md)

[Input_Output](https://github.com/tparchman/BIOL792_course_site/blob/master/week8_python3/python_3_primer.md)

[Dictionaries](https://github.com/tparchman/BIOL792_course_site/blob/master/week11_python6/primer_python6.md)


### Remember these Common commands as you work through this exercise
	data types
	lists and dictionaries 
	if while and for loops
	reading files

In [40]:
import numpy as np

In [41]:
import pandas as pd

In [166]:
import matplotlib.pyplot as plt

## Part I: Questions

1.	Name one of the basic building blocks of programming and a small definition.

Lists and Dictionaries is one of the main building blocks of programming. List is list of number or strings similar to the arrays.Dictionary is collection of values and keys

In [1]:
 #Creating a List using multiple values
List = ["Foraminifera", "Nanoplankton", "Diatom"]

In [2]:
List[0]

'Foraminifera'

In [3]:
#Creating a Dictionary using Keys and values
    
Dict = {1: 'Foraminifera', 2: 'Nanoplankton', 3: 'Diatom'}

In [7]:
Dict[1]

'Foraminifera'

In [6]:
Dict[3]

'Diatom'

---

---

2.	Match the data type to the appropriate data
    
    **Data type:** string, integer, boolean, floating point
    
    **Data:** true, 123, 'I am a programmer', 34.63221

### *true (boolean), 123 (integer),  'I am a programmer' (string), 34.63221 (floating point)*

---

---

3.	What would I get if I did tried to add these to numbers together ```123``` and ```5```.
		
		a) if the numbers were formatted as strings
		
		b) if they were formatted as integers

In [8]:
a=(1+2+3)+5 # In case of format is integer

In [9]:
a

11

In [10]:
type(a)

int

In [12]:
b='(1+2+3)'+'5' # In case of format is String

In [297]:
b

'datascieceisahottopic'

In [14]:
type(b)

str

---

---

4.	Lists, also called vectors, are one dimensional arrays and are a series of items. From the following list what would the question ```apple_list[3]``` return?  Remember we refer to items in a list by their position. Hint – remember how computers count.
		
		```apple_list=[‘banana’,’pear’,’kumquat’,’pomegranate’,’passion fruit’]```

In [17]:
apple_list=["banana", "pear","kumquat", "pomegranate","passion fruit"] # Create list

In [18]:
apple_list

['banana', 'pear', 'kumquat', 'pomegranate', 'passion fruit']

In [19]:
apple_list[3] # pomegranate is fourth string, python start from zero

'pomegranate'

In [20]:
apple_list[0] # first value

'banana'

---

---

5.	Name a difference between lists and dictionaries?

**List:** The indices are integers whcih start from 0, but **Dicrionary:** keys of dictionary can be of any data type.
**List:** You can access the elements with indices, but in **Dicrionary:** using key values

**List:** Place elemnts in [ ], **Dicrionary:** { }

---

---

6.	What would you get from this question from the following dictionary:  ```fruit_dict[‘pear’]```
```		
		fruit_dict = {}
		fruit_dict[‘apple’]=10
		fruit_dict[‘pear’] = 3
		fruit_dict[‘walnut’]=216
```
or in another way


```
fruit_dict = {
    'apple':10,
    'pear':3,
    'walnut':216,
}

print(fruit_dict)
```

In [27]:
fruit_dict1 = {}
fruit_dict["apple"]=10
fruit_dict["pear"] = 3
fruit_dict["walnut"]=216

In [31]:
fruit_dict2 = {
    'apple':10,
    'pear':3,
    'walnut':216,
}

In [32]:
print(fruit_dict1) # print dictionary

{'apple': 10, 'pear': 3, 'walnut': 216}

In [35]:
fruit_dict1['apple']

10

In [36]:
fruit_dict2['apple']

10

In [33]:
print(fruit_dict2)

{'apple': 10, 'pear': 3, 'walnut': 216}

In [ ]:
# Both approach has same results, and we have keys and values

---

----

7.	In python what does the function ```.replace()``` do?

In [ ]:
# It replace specific value or string with another value or string

In [44]:
aa = "I love Data Science" #string

bb = aa.replace("love", "may love") # replace love with may love

print(bb)

I may love Data Science

---

---

8.	How do you print something in python?  For example write a print statement to print “hello world!”

In [45]:
print("Hello World")

Hello World

---

9.	Name one place you can go to get help with python?

In [49]:
## stackoverflow, also we can use help() option in python

---

10.	What is an ```if``` statement and when would you use one?

In [ ]:
# it is for making decision based on some criteria

In [61]:
Apple=5

if Apple>5: # if apple is bigger than 5
    print("It is great")
elif Apple==5: #if apple is equal to 5
    print("Number of apple is 5")
else:
    print("Not enogh apple")

it is 5

----

11.	From this list:  ```container_list = [‘can’,’jar’,’hat’]``` What would be returned from this: ```container_list[0:2]```.  Hint: Remember one number is inclusive and one exclusive.

**The output will be ‘can’ and ’jar’**

---

12.	What is the difference between an ```if``` statement and a ```while``` loop?

**if** is a one time operation, but **while** loop is a loop, and while loop will continue until the condition is true.

---

13.	What would you get with the command ```fruit_dict.keys()```  after entering this dictionary:  
		fruit_dict = {}
		fruit_dict[‘apple’]=10
		fruit_dict[‘pear’] = 3
		fruit_dict[‘walnut’]=216

The output will be  **apple** , **pear**,**walnut**

---

14.	In this statement: ```InFileName = open(InFileName, ‘r’)``` what does the ‘r’ indicate ?

In [ ]:
# r here mean read the file

---

15.	What does this command do? ```Line.strip(‘\n’)``` why would you use it when printing out lines to the screen?

In [ ]:
# Creating a newline character form the beginning

16.	How would you split a line from a csv file into a list

In [168]:
import csv

In [194]:
with open('Bloom_Dataset.csv', 'r') as file: # open the csv file
    array= file.readlines() # read the file
    array= [row.split(',') for row in array] # split it with comma

## Part II:  Practice Scripts
Below each question write the name of the script so I can find them. All scripts should be documented with in-line documentation.

1.	Create a documented python script that would 

		**a.** take this number 112345678911234566 and count the number of 2s in the string and print out the number. 

		**b.** take a sentence from user input, turn it all to lowercase letters and remove the spaces and count the length and print out the length.  You choose the sentence.

In [ ]:
import collections # import collection package for counting

In [82]:
a='112345678911234566'

In [89]:
frequency=collections.Counter(a)
frequency # number of repeated times for each number, for 2 is 2.

Counter({'1': 4,
         '2': 2,
         '3': 2,
         '4': 2,
         '5': 2,
         '6': 3,
         '7': 1,
         '8': 1,
         '9': 1})

In [93]:
b='DATA SCIECE IS A HOT TOPIC' # create a string list

In [97]:
b=b.lower().replace(" ", "") # make the string lower case and remove the space

In [98]:
print(b)

datascieceisahottopic

In [100]:
frequency=collections.Counter(b) # count the words
frequency

Counter({'d': 1,
         'a': 3,
         't': 3,
         's': 2,
         'c': 3,
         'i': 3,
         'e': 2,
         'h': 1,
         'o': 2,
         'p': 1})

In [104]:
frequency.items()

dict_items([('d', 1), ('a', 3), ('t', 3), ('s', 2), ('c', 3), ('i', 3), ('e', 2), ('h', 1), ('o', 2), ('p', 1)])

---

2.	Create a documented python script that will do the following two things. For each task, first write the pseudocode, comment out the pseudocode and beneath the pseudocode write the script.

		**a.** Create a list of numbers (any numbers you like). Then loop through the items in the list adding 1 to every number and print those numbers.

		**b.** Create a dictionary of animals and their sizes (make up whatever you want). Print out the keys of the dictionary. Make a list of all the animals and then write an if else statement to print out the animal name and the word “big” if the weight is over 20 grams and the word “small” if the weight is less than 20 grams.

In [ ]:
### Part a

# Create an empty list and if length of list is less than 1o append a value, then +2

In [252]:
lista = [] # Create a empty list
i = 0

while len(lista) < 10: # if length of list is less than 10
    lista.append(i) # add i
    i += 2 # plus 2

print(lista)

TypeError: 'int' object is not callable

In [248]:
x = float(3)
while x < 100:
    print(x)
    x += 1
    print(x)

TypeError: 'int' object is not callable

In [253]:
#### Part b

In [274]:
animals={"Tiger":20, "Monkey":15, "Lion":35, "Chiecken":4}

In [275]:
animals.keys()

dict_keys(['Tiger', 'Monkey', 'Lion', 'Chiecken'])

In [284]:
animal2=animals.values()

In [282]:
animal2

dict_values([20, 15, 35, 4])

In [277]:
animals["Tiger"]

20

In [286]:
animals=[20,15,35,4]

In [295]:
if animals>20:
    print("Animal is big")
elif animals<20:
    print("Animal is Small")

TypeError: 'int' object is not callable

---

3.	Create a documented python script that will open up the file “Bloom_etal_2018_Reduced_Dataset”.  Read through the file and print out the taxon name and their diadromous status. Add up all of the log body sizes and print out the total log body size for all the individuals in the file.

In [132]:
Bloom=pd.read_csv("Bloom_Dataset.csv")

In [143]:
Bloom.head(10)

                       taxa  logbodysize  trophic_position             Reg
0            Alosa_alabamae     1.707570          0.431364      diadromous
1               Alosa_alosa     1.778151          0.556303      diadromous
2              Alosa_fallax     1.778151          0.556303      diadromous
3           Alosa_mediocris     1.778151          0.612784      diadromous
4      Alosa_pseudoharengus     1.602060          0.544068      diadromous
5         Alosa_sapidissima     1.790285          0.544068      diadromous
6  Amazonsprattus_scintilla     0.301030          0.531479  non-diadromous
7          Anchoa_chamensis     0.778151          0.518514  non-diadromous
8             Anchoa_cubana     0.845098          0.518514  non-diadromous
9      Anchoa_delicatissima     0.903090          0.518514  non-diadromous

In [129]:
Bloom.columns

Index(['taxa', 'logbodysize', 'trophic_position', 'Reg'], dtype='object')

In [141]:
## List of all taxa
Bloom[["taxa", "Reg"]]

                           taxa             Reg
0                Alosa_alabamae      diadromous
1                   Alosa_alosa      diadromous
2                  Alosa_fallax      diadromous
3               Alosa_mediocris      diadromous
4          Alosa_pseudoharengus      diadromous
5             Alosa_sapidissima      diadromous
6      Amazonsprattus_scintilla  non-diadromous
7              Anchoa_chamensis  non-diadromous
8                 Anchoa_cubana  non-diadromous
9          Anchoa_delicatissima  non-diadromous
10          Anchoa_lamprotaenia  non-diadromous
11              Anchoa_lyolepis  non-diadromous
12                 Anchoa_parva  non-diadromous
13            Anchoa_schofieldi  non-diadromous
14        Anchovia_surinamensis  non-diadromous
15          Anchoviella_balboae  non-diadromous
16     Anchoviella_brevirostris  non-diadromous
17           Anchoviella_jamesi  non-diadromous
18   Anchoviella_lepidentostole      diadromous
19       Anchoviella_manamensis  non-diadromous
20       Anodontostoma_chacunda      diadromous
21       Cetengraulis_edentulus  non-diadromous
22  Chirocentrodon_bleekerianus  non-diadromous
23      Clupeichthys_perakensis  non-diadromous
24        Clupeoides_borneensis  non-diadromous
25                 Coilia_nasus      diadromous
26          Ehirava_fluviatilis  non-diadromous
27        Encrasicholina_devisi  non-diadromous
28          Engraulis_eurystole  non-diadromous
29          Escualosa_thoracata  non-diadromous
30          Ethmalosa_fimbriata      diadromous
31      Gilchristella_aestuaria  non-diadromous
32                  Hilsa_kelee      diadromous
33         Hyperlophus_vittatus  non-diadromous
34       Jenkinsia_lamprotaenia  non-diadromous
35         Microthrissa_congica  non-diadromous
36            Pellona_harroweri  non-diadromous
37          Pellonula_leonensis      diadromous
38              Pellonula_vorax      diadromous
39        Potamalosa_richmondia      diadromous
40               Ramnogaster_sp  non-diadromous
41      Rhinosardinia_bahiensis  non-diadromous
42           Sauvagella_robusta  non-diadromous
43      Sierrathrissa_leonensis  non-diadromous
44    Spratelloides_delicatulus  non-diadromous
45           Stolephorus_waitei  non-diadromous
46      Stolothrissa_tanganicae  non-diadromous
47      Sundasalanx_mekongensis  non-diadromous
48             Tenualosa_ilisha      diadromous
49        Thryssa_cf_dussumieri  non-diadromous

In [153]:
Sum_bodysize=Bloom["logbodysize"].sum()

In [154]:
Sum_bodysize

52.079318752

In [155]:
round(Sum_bodysize,2)

52.08

In [162]:
Bloom.groupby(["taxa"]).mean()

                             logbodysize  trophic_position
taxa
Alosa_alabamae                  1.707570          0.431364
Alosa_alosa                     1.778151          0.556303
Alosa_fallax                    1.778151          0.556303
Alosa_mediocris                 1.778151          0.612784
Alosa_pseudoharengus            1.602060          0.544068
Alosa_sapidissima               1.790285          0.544068
Amazonsprattus_scintilla        0.301030          0.531479
Anchoa_chamensis                0.778151          0.518514
Anchoa_cubana                   0.845098          0.518514
Anchoa_delicatissima            0.903090          0.518514
Anchoa_lamprotaenia             0.963788          0.531479
Anchoa_lyolepis                 0.845098          0.531479
Anchoa_parva                    0.778151          0.518514
Anchoa_schofieldi               0.792392          0.518514
Anchovia_surinamensis           1.093422          0.477121
Anchoviella_balboae             0.857332          0.505150
Anchoviella_brevirostris        0.857332          0.505150
Anchoviella_jamesi              0.698970          0.491362
Anchoviella_lepidentostole      1.064458          0.491362
Anchoviella_manamensis          0.397940          0.491362
Anodontostoma_chacunda          1.342423          0.447158
Cetengraulis_edentulus          1.113943          0.322219
Chirocentrodon_bleekerianus     0.954243          0.518514
Clupeichthys_perakensis         0.602060          0.477121
Clupeoides_borneensis           0.903090          0.491362
Coilia_nasus                    1.544068          0.477121
Ehirava_fluviatilis             0.698970          0.491362
Encrasicholina_devisi           0.903090          0.518514
Engraulis_eurystole             1.190332          0.462398
Escualosa_thoracata             1.000000          0.505150
Ethmalosa_fimbriata             1.544068          0.397940
Gilchristella_aestuaria         1.000000          0.491362
Hilsa_kelee                     1.387390          0.462398
Hyperlophus_vittatus            1.000000          0.531479
Jenkinsia_lamprotaenia          0.838849          0.518514
Microthrissa_congica            0.778151          0.491362
Pellona_harroweri               1.113943          0.623249
Pellonula_leonensis             0.929419          0.518514
Pellonula_vorax                 1.079181          0.491362
Potamalosa_richmondia           1.505150          0.518514
Ramnogaster_sp                  0.903090          0.531479
Rhinosardinia_bahiensis         0.903090          0.531479
Sauvagella_robusta              0.672098          0.491362
Sierrathrissa_leonensis         0.477121          0.491362
Spratelloides_delicatulus       0.845098          0.491362
Stolephorus_waitei              0.973128          0.518514
Stolothrissa_tanganicae         1.000000          0.431364
Sundasalanx_mekongensis         0.447158          0.491362
Tenualosa_ilisha                1.778151          0.462398
Thryssa_cf_dussumieri           1.041393          0.447158

In [163]:
Bloom2=Bloom[["taxa", "logbodysize"]]

In [164]:
Bloom2.groupby(["taxa"]).mean()

                             logbodysize
taxa
Alosa_alabamae                  1.707570
Alosa_alosa                     1.778151
Alosa_fallax                    1.778151
Alosa_mediocris                 1.778151
Alosa_pseudoharengus            1.602060
Alosa_sapidissima               1.790285
Amazonsprattus_scintilla        0.301030
Anchoa_chamensis                0.778151
Anchoa_cubana                   0.845098
Anchoa_delicatissima            0.903090
Anchoa_lamprotaenia             0.963788
Anchoa_lyolepis                 0.845098
Anchoa_parva                    0.778151
Anchoa_schofieldi               0.792392
Anchovia_surinamensis           1.093422
Anchoviella_balboae             0.857332
Anchoviella_brevirostris        0.857332
Anchoviella_jamesi              0.698970
Anchoviella_lepidentostole      1.064458
Anchoviella_manamensis          0.397940
Anodontostoma_chacunda          1.342423
Cetengraulis_edentulus          1.113943
Chirocentrodon_bleekerianus     0.954243
Clupeichthys_perakensis         0.602060
Clupeoides_borneensis           0.903090
Coilia_nasus                    1.544068
Ehirava_fluviatilis             0.698970
Encrasicholina_devisi           0.903090
Engraulis_eurystole             1.190332
Escualosa_thoracata             1.000000
Ethmalosa_fimbriata             1.544068
Gilchristella_aestuaria         1.000000
Hilsa_kelee                     1.387390
Hyperlophus_vittatus            1.000000
Jenkinsia_lamprotaenia          0.838849
Microthrissa_congica            0.778151
Pellona_harroweri               1.113943
Pellonula_leonensis             0.929419
Pellonula_vorax                 1.079181
Potamalosa_richmondia           1.505150
Ramnogaster_sp                  0.903090
Rhinosardinia_bahiensis         0.903090
Sauvagella_robusta              0.672098
Sierrathrissa_leonensis         0.477121
Spratelloides_delicatulus       0.845098
Stolephorus_waitei              0.973128
Stolothrissa_tanganicae         1.000000
Sundasalanx_mekongensis         0.447158
Tenualosa_ilisha                1.778151
Thryssa_cf_dussumieri           1.041393